/* Put your style information here! */
.sketch {
	max-width: 65%;
}

html * {
	font-family: trebuchet ms;
	font-size: 20;
}

p {
	max-width: 75%;
	margin-left: 30px;
}

h1 {
	margin-left: 15px;
}

h2 {
	margin-left: 15px;
}

h3 {
	margin-left: 15px;
}
h4 {
	margin-left: 15px;
}
tr, td {
  border: 1px solid black;
}
table {
	margin-left: 25px;
	max-width: 75%;
}
ol {
	margin-left: 25px;
}

.storyboard {
	max-width: 100%;
}