/* Put your style information here! */
.sketch {
	max-width: 65%;
}

p {
	font-family: trebuchet ms;
	font-size: 20;
	max-width: 75%;
	margin-left: 30px;
}

h1 {
	font-family: trebuchet ms;
	margin-left: 15px;
}